@page "/counter"

<h1>Upload your data</h1>

<p></p>
<p></p>

@{ var list = new List<string>{"JSON", "XML"}; }
<Dropdown TItem ="string" OnSelected="OnSelected" >
    <InitialTip>Select File Type</InitialTip>
    <ChildContent>
        <DropdownListItem Item="@list[0]">JSON</DropdownListItem>
        <DropdownListItem Item="@list[1]">XML</DropdownListItem>
    </ChildContent>
</Dropdown>

<p> </p>

<InputFile OnChange="LoadFiles" multiple />

<p> </p>

<button class="btn btn-primary" @onclick="UploadFiles">Upload Data</button>

<p> </p>
@if (isCorrectFile == 0) {
    <p>File type is incorrect. Please try again.</p>
}

@code {

    private string selectedFileType;

    private int isCorrectFile = 1;
    
    IReadOnlyList<IBrowserFile> selectedFiles;
    
    private void OnSelected(string selection)
    {
        selectedFileType = selection;
    }

    private void LoadFiles(InputFileChangeEventArgs eventArgs)
    {
        selectedFiles = eventArgs.GetMultipleFiles();
    }

    private void UploadFiles() 
    {
        foreach (IBrowserFile selectedFile in selectedFiles) {
            if (selectedFile.ContentType.Contains(selectedFileType.ToLower()) == false) {
                isCorrectFile = 0;
                break;
            }

            else {
                isCorrectFile = 1;
            }

        }
        
    }




}
