@*This is the query page*@
@page "/fetchdata"
@using BlazorInputFile
@using Models
@using Data
@using Services
@using Amazon
@using Amazon.S3.Model

@inject DataCalculatorDbContext _context 
@inject IFileHandler _fileHandler

<h1>Download file for query</h1>
<form>
<label for = "startYear">Enter Start Year</label>
<input @bind="startDate" id = "startYear"></input>
<label for = "endYear">Enter end Year</label>
<input @bind="endDate" id = "endYear"></input>
</form>

<button class="btn btn-primary" type="submit" @onclick="() => ListObj(startDate,endDate)">Download Glue Files</button>
<p>@listObjects</p>



@code{
    public string listObjects;
    string startDate = "";
    string endDate = "";

    public async void ListObj(string startDate, string endDate)
    {
        string fileName;
        int queriedYear;
        int startDateInt = Int32.Parse(startDate);
        int endDateInt = Int32.Parse(endDate);
        List<string> glueFileNames = new List<string>();

        List<S3Object> li = await _fileHandler.ListObjectAsync("seconddatacalc");
        li.RemoveAt(0);

        foreach(S3Object s3 in li)
        {
            fileName = s3.Key;
            listObjects += fileName;
            string fileYear = fileName.Substring(13, 4);
            queriedYear = Int32.Parse(fileYear);
            if(queriedYear >= startDateInt && queriedYear <= endDateInt)
            {
                glueFileNames.Add(s3.Key);
            }
            else
            {

            }
        }
        DownloadGlue(glueFileNames);
    }

    private void MetaDataQuery(string startingQueryDate, string endingQueryDate )
    {
        Console.WriteLine(startingQueryDate + endingQueryDate);        
        List<string> fileNames = new List<string>{"nvdcve-1.1-2019.json", "nvdcve-1.1-2021.json" };// Query MongoDb for all file names from start to end year and store in fileNames
        DownloadFile(fileNames, "rawjsondatanvd");
    }

    private async Task DownloadFile(List<string> fileList, string bucketName)
    {
        foreach(string fiName in fileList)
        {
            var file = await _fileHandler.DownloadFileAsync(fiName, bucketName);
            SaveData(file);
        }
    }

    protected bool SaveData(TransferFile byteFile)
    {
        BinaryWriter Writer = null;
        string Name = @"C:.\Downloads\";

        try
        {
            Writer = new BinaryWriter(File.OpenWrite(Name + byteFile.Name));              
            Writer.Write(byteFile.Content);
            Writer.Flush();
            Writer.Close();
        }
        catch 
        {
            return false;
        }

        return true;
    }

    protected bool SaveData(TransferFile byteFile, string fileKey)
    {
        BinaryWriter Writer = null;
        string Name = $@"C:.\Downloads\";
        byteFile.Name = fileKey.Replace("id=CVE", "nvdcve");
        byteFile.Name = byteFile.Name + ".json";
        try
        {
            Writer = new BinaryWriter(File.OpenWrite(Name + byteFile.Name));              
            Writer.Write(byteFile.Content);
            Writer.Flush();
            Writer.Close();
        }
        catch 
        {
            return false;
        }

        return true;
    }


    public async void DownloadGlue(List<string> glueFileNames)
    {
        string keyName;

        glueFileNames = glueFileNames.Select(s => s.Remove(0, 6)).ToList();
        foreach(string file in glueFileNames)
        {
            keyName = file.Substring(0, 11);
            string fi = file.Remove(0, 12);
            var savedFile = await _fileHandler.DownloadFileAsync(fi, $"seconddatacalc/write/{keyName}");
            SaveData(savedFile, keyName);

        }
    }
}
