@*This is the query page*@
@page "/fetchdata"
@using BlazorInputFile
@using Models
@using Data
@using Services

@inject DataCalculatorDbContext _context 
@inject IFileHandler _fileHandler
<h1>Download file for query</h1>
<p>Enter starting year</p>
<input @bind="startDate">Enter starting year</input>
<p>Enter end year</p>
<input @bind="endDate">Enter final year</input>
<button @onclick = "() => MetaDataQuery(startDate,endDate)" >Click to begin</button>


@code{
    string startDate = "";
    string endDate = "";

    private void MetaDataQuery(string startingQueryDate, string endingQueryDate )
    {
        Console.WriteLine(startingQueryDate + endingQueryDate);        
        string[] fileNames = new string[1];// Query MongoDb for all file names from start to end year and store in fileNames
        DownloadFile(fileNames);
    }

    private async Task DownloadFile(string[] fileList)
    {
        foreach(var fiName in fileList)
        {
            var file = await _fileHandler.DownloadFileAsync(fiName);
           SaveData(file);
        }
    }

    protected bool SaveData(TransferFile byteFile)
    {
        BinaryWriter Writer = null;
        string Name = @"C:.\Downloads\";

        try
        {
            Writer = new BinaryWriter(File.OpenWrite(Name + byteFile.Name));              
            Writer.Write(byteFile.Content);
            Writer.Flush();
            Writer.Close();
        }
        catch 
        {
            return false;
        }

        return true;
    }
    
}
