@*This is the query page*@
@page "/fetchdata"
@using BlazorInputFile
@using Models
@using Data
@using Services

@inject DataCalculatorDbContext _context 
@inject IFileHandler _fileHandler
<h1>Download file for query</h1>
<button @onclick = "@DownloadFile">Click to begin</button>


@code{
    private async Task  DownloadFile(string[] fileList)
    {
        foreach(var fiName in fileList)
        {
            var file = await _fileHandler.DownloadFileAsync(fiName);
            SaveData(file);
        }
        

    }
    protected bool SaveData(TransferFile byteFile)
    {
        BinaryWriter Writer = null;
        string Name = @"C:.\Downloads\";

        try
        {
            // Create a new stream to write to the file
            Writer = new BinaryWriter(File.OpenWrite(Name + byteFile.Name));

            // Writer raw data                
            Writer.Write(byteFile.Content);
            Writer.Flush();
            Writer.Close();
        }
        catch 
        {
            return false;
        }

        return true;
    }
    
}
